
.footer-page {
    padding: 20px 0;
    font-family: 'Segoe UI', sans-serif;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: #313637;
}

@media (max-width: 760px) {
    .footer-page {        
        position: relative;
    }
}

.footer-page h5 {
    text-align: center;
    font-size: 16px;    
}

.footer-page h6 {
    text-align: center;
    font-size: 14px;
}